<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/ashoukr">Ahmed</a>. A developer on a mission to give others all of the technical skills and knowledge he learns. 
  </p>
  <br />
  <p>
    I'm currently working on designing a website and a blog to teach people the skills he has learned throughout his technical career. I'm hoping that over the years, this website will help reach thousands of aspiring programers to learn to code.
  </p>
  <p>
    If you want to learn how to code, you can click start <a target= "_blank" href= "https://www.google.com"> here</a>
  </p>

  <div class="row">
    <div class= "col-12 col-sm-4">
      <%= image_tag 'about.jpg', class: 'img-fluid' %>
    </div>


    <div class= "col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ahmed Shoukr</h2>
      <br />
      <p>
        Ahmed Shoukr is an aspiring data scientist with a variety of other skills including web and iOS development. He is currently a student at Santa Clara University....
      </p>
    </div>
  </div>
  <br class="clear" />


</div>



<br class="clear">
<br />
<br />
<br />
<br />

  
