<h1>Enter Your Quote Details</h1>
<%= simple_form_for @quote do |f| %>
  <%= f.input :saying %>
  <%= f.input :author %>
  <br /> 
    <!-- this is for a few line breaks -->
  <%= f.submit 'Create', class: 'btn btn-danger' %>
     <!--  Submit button so user can submit the form-->
     <!-- added a bootstrap 4button css style -->
 <% end %>


 <!-- Now we can build out the actual form inside of app/views/quotes/new.html.erb. In the simple form documentation, we can see a few code examples of how to build a form using simple form. In essence, we're saying for our @quote variable (that reserved a Quotes.new space in our database table), do a few things (we call it |f|) like show an "input" field for the database table column called "saying."

 -->